# Strapi Configuration
NUXT_PUBLIC_STRAPI_URL=http://localhost:1337
NUXT_PUBLIC_STRAPI_TOKEN=your_strapi_public_token_here

# App Configuration
NUXT_PUBLIC_APP_NAME=Mon Projet
NUXT_PUBLIC_APP_DESCRIPTION=Description de mon projet

# Cal.com Configuration
NUXT_PUBLIC_CAL_API_KEY=your_cal_api_key_here
